@page
@model InstPlusEntityFr.Pages.MainPage.IndexModel
@{
}
<head>

    <style>
    .image-div {
        margin-bottom: 10px;
        display: flex; 
        align-items: center; 
    }

    .img {
        display: block;
        margin-bottom: 5px;
    }

    .opis {
        font-weight: bold;
    }

    .nazwa {
        font-style: italic;
        margin-left: 10px; 
    }

    .komentarze {
        margin-top: 10px;
    }
    .divPost{
            width: 50%;
            background-color: #a8d0e6;
            border: 2px solid #1f618d;
            border-radius: 20px;
            padding: 10px;

    }

    .komentarz {
        margin-bottom: 5px;
    }

    .polubienia {
        display: flex; 
        align-items: center; 
        margin-top: 10px;
        font-weight: bold;
    }
        body {
            margin: 0;
            padding-bottom: 60px; /* Dostosuj wartość padding-bottom do wysokości stopki */
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #e0e0e0;
            padding: 10px;
            text-align: center;
            transform: scale(0.4);
            transform-origin: bottom;
            margin-bottom: -10px; /* Ujemna wartość marginesu, równa wysokości stopki */
        }
</style>

</head>
<body>
    <div id="kontener"></div>

    @if (Model.CzyVip == false)
    {
        <footer class="footer">
            <img class="img" id="reklamaImg" src="@Url.Content(Model.WyswReklama)" alt="REKLAMA" style="width: 100%; height: auto; max-width: 100%; object-fit: contain;" />
        </footer>
    }
    
    <script>
    var zalogowany = @Html.Raw(Model.getZalogowany());
    var postsWithComments = @Html.Raw(Model.getPosty());
    var container = document.getElementById("kontener");
    var komDodanieText = new Array(postsWithComments.length);

        function refreshPage() {
            location.reload();
        }

        function polubKomF(msg,msg2) {
            var a=fetch('?handler=Guzik&fun=3&id=' + postsWithComments[msg].KomentarzeId[msg2] + '&tresc')
                .then(function () {
                    generatePostElements(); // Call the function to regenerate post elements
                }).then(function () { refreshPage(); });

            
        }
        function polubKomF2(msg, msg2) {
            fetch('?handler=Guzik&fun=3&id=' + postsWithComments[msg].KomentarzeId[msg2] + '&tresc')
                .then(function () {
                    generatePostElements(); // Call the function to regenerate post elements
                }).then(function () { refreshPage(); });
        }
        function wyslij(msg) {
            fetch('?handler=Guzik&fun=1&id=' + postsWithComments[msg].Id + '&tresc=' + komDodanieText[msg].value)
                .then(function () {
                    generatePostElements(); // Call the function to regenerate post elements
                }).then(function () { refreshPage(); });
            komDodanieText[msg].value = null;
            komDodanieText[msg].placeholder = "Dodano komentarz";
        }
        function polubPostF(msg) {

            fetch('?handler=Guzik&fun=2&id=' + postsWithComments[msg].Id + '&tresc')
                    .then(function () {
                generatePostElements(); // Call the function to regenerate post elements
            }).then(function () { refreshPage();});
        }

        function generatePostElements() {
            container.innerHTML = ""; // Clear the container before regenerating the post elements
            for (var i = 0; i < postsWithComments.length; i++) {
                var divPost=document.createElement("div");
                divPost.className="divPost";
                var imageDiv = document.createElement("div");
                imageDiv.className = "image-div";

                var imageavatar = document.createElement("img");
                imageavatar.className = "imgavatar";
                imageavatar.width = "50";
                imageavatar.height = "50";
                imageavatar.src = postsWithComments[i].ImageAvatar;
                imageavatar.style.borderRadius = "50%";

                var image = document.createElement("img");
                image.className = "img";
                image.width = "500";
                image.height = "450";
                image.src = postsWithComments[i].Image;

                var opis = document.createElement("label");
                opis.className = "opis";
                opis.innerHTML = postsWithComments[i].Opis;

                var nazwa = document.createElement("a");
                nazwa.className = "nazwa";
                nazwa.innerHTML = postsWithComments[i].Nazwa;
                if(zalogowany==postsWithComments[i].Nazwa)
                {nazwa.href = "/ProfilPrywatny/Index"}
                else{
                    nazwa.href = "/ProfilPubliczny/Index?data="+ postsWithComments[i].Nazwa;
                }

                var data = document.createElement("label");
                data.className = "data";
                data.innerHTML = new Date(postsWithComments[i].Data).toLocaleDateString();

                var komentarzeDiv = document.createElement("div");
                komentarzeDiv.className = "komentarze";

                var maxComments = Math.min(postsWithComments[i].Komentarze.length, 2); // Maksymalnie 2 komentarze
                var showAllComments = false; // Flaga wskazująca, czy pokazać wszystkie komentarze

                for (var j = 0; j < maxComments; j++) {
                    var komentarz = document.createElement("div");
                    komentarz.className = "komentarz";
                    komentarz.innerHTML = postsWithComments[i].KomentarzeTresc[j];

                    var imagekom = document.createElement("img");
                    imagekom.className = "imgkom";
                    imagekom.width = "40";
                    imagekom.height = "40";
                    imagekom.src = postsWithComments[i].KomentarzeZDJ[j];
                    imagekom.style.borderRadius = "50%";

                    var komentarzAutor = document.createElement("div");
                    komentarzAutor.className = "komentarzAutor";
                    komentarzAutor.innerHTML = postsWithComments[i].KomentarzeAutor[j];
                        postsWithComments[i].KomentarzeId[j];
            
                    var komentarzData = document.createElement("label");
                    komentarzData.className = "komentarzData";
                    komentarzData.innerHTML = new Date(postsWithComments[i].KomentarzeData[j]).toLocaleDateString();
                
                    var formDodPolubKom = document.createElement("form");
                    if(postsWithComments[i].CzyPolubionyKomentarz[j])
                    {
                        formDodPolubKom.innerHTML += '<input type="button" classname="guzik" onclick="polubKomF(' + i + ',' + j + ')" value="Cofnij polubienie komentarza"/>';
                    }
                    else
                    {
                        formDodPolubKom.innerHTML += '<input type="button" onclick="polubKomF(' + i + ',' + j + ')" value="Polub Komentarz"/>';
                    }

                        var polubieniaKom = document.createElement("span");
                        polubieniaKom.className = "polubienia";
                        polubieniaKom.innerHTML = "Polubienia: " + postsWithComments[i].KomentarzePolubienia[j];

                        komentarzeDiv.appendChild(komentarzAutor);
                        komentarzeDiv.appendChild(imagekom);
                        komentarzeDiv.appendChild(komentarz);
                        if (zalogowany != null) { komentarzeDiv.appendChild(formDodPolubKom) };
                        komentarzeDiv.appendChild(polubieniaKom);
                        komentarzeDiv.appendChild(komentarzData);
                }

                if (postsWithComments[i].Komentarze.length > 2) {
                    var pokazWiecej = document.createElement("div");
                    pokazWiecej.className = "pokazWiecej";
                    pokazWiecej.innerHTML = "Pokaż wszystkie komentarze";
                    pokazWiecej.setAttribute("data-post-index", i); // Dodanie atrybutu data-post-index
                    pokazWiecej.addEventListener("click", function (event) {
                        var postIndex = event.target.getAttribute("data-post-index");
                        var komentarzeDiv = event.target.parentNode;

                        // Usunięcie przycisku "Pokaż wszystkie komentarze"
                        komentarzeDiv.removeChild(event.target);

                        // Wyświetlenie wszystkich komentarzy
                        for (var j = 2; j < postsWithComments[postIndex].Komentarze.length; j++) {
                            var komentarz = document.createElement("div");
                            komentarz.className = "komentarz";
                            komentarz.innerHTML = postsWithComments[postIndex].KomentarzeTresc[j];

                            var imagekom = document.createElement("img");
                            imagekom.className = "imgkom";
                            imagekom.width = "40";
                            imagekom.height = "40";
                            imagekom.src = postsWithComments[postIndex].KomentarzeZDJ[j];
                            imagekom.style.borderRadius = "50%";

                            var komentarzAutor = document.createElement("div");
                            komentarzAutor.className = "komentarzAutor";
                            komentarzAutor.innerHTML = postsWithComments[postIndex].KomentarzeAutor[j];

                            var komentarzData = document.createElement("label");
                            komentarzData.className = "komentarzData";
                            komentarzData.innerHTML = new Date(postsWithComments[postIndex].KomentarzeData[j]).toLocaleDateString();

                                var formDodPolubKom = document.createElement("form");
                            if (postsWithComments[postIndex].CzyPolubionyKomentarz[j]) {
                                formDodPolubKom.innerHTML += '<input type="button" onclick="polubKomF(' + postIndex + ',' + j + ')" value="Cofnij polubienie komentarza"/>';
                            }
                            else {
                                formDodPolubKom.innerHTML += '<input type="button" onclick="polubKomF(' + postIndex + ',' + j + ')" value="Polub Komentarz"/>';
                            }

                                var polubieniaKom = document.createElement("span");
                                polubieniaKom.className = "polubienia";
                                polubieniaKom.innerHTML = "Polubienia: " + postsWithComments[postIndex].KomentarzePolubienia[j];

                            komentarzeDiv.appendChild(komentarzAutor);
                            komentarzeDiv.appendChild(imagekom);
                            komentarzeDiv.appendChild(komentarz);
                                if (zalogowany != null) {komentarzeDiv.appendChild(formDodPolubKom)};
                            komentarzeDiv.appendChild(polubieniaKom);
                            komentarzeDiv.appendChild(komentarzData);
                       
                        }
                    });

                    komentarzeDiv.appendChild(pokazWiecej);
                }

                    var formDodKom = document.createElement("form");

                    komDodanieText[i] = document.createElement("textarea");
                    komDodanieText[i].placeholder = "Miejsce na komentarz";

                    formDodKom.innerHTML += '<input type="button" onclick="wyslij(' + i + ')" value="Dodaj komentarz"/>';

                    var formDodPolubPos = document.createElement("form");
               
                if (postsWithComments[i].CzyPolubionyPost)
                {
                    formDodPolubPos.innerHTML += '<input type="button" onclick="polubPostF(' + i + ')" value="Cofnij polubienie posta"/>';
                }
                else
                {
                    formDodPolubPos.innerHTML += '<input type="button" onclick="polubPostF(' + i + ')" value="Polub post"/>';
                }

                    var polubienia = document.createElement("span");
                    polubienia.className = "polubienia";
                    polubienia.innerHTML = "Polubienia: " + postsWithComments[i].IloscPolubien;

                    imageDiv.appendChild(image);
                    divPost.appendChild(imageavatar);
                divPost.appendChild(nazwa);
                divPost.appendChild(imageDiv);
                divPost.appendChild(polubienia);
                divPost.appendChild(opis);
                    if (zalogowany != null) {
                    divPost.appendChild(formDodPolubPos);
                    }
                divPost.appendChild(data);
                    if (zalogowany != null) {
                    divPost.appendChild(formDodKom);
                    divPost.appendChild(komDodanieText[i])
                    }
                divPost.appendChild(komentarzeDiv);
                container.appendChild(divPost);
                    }
    }
        generatePostElements();
</script>
</body>


<script>
    function selectFile() {
        document.getElementById("uploadedFile").click();
    }
    function sendPostRequest(url, data) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // Obsługa odpowiedzi po wykonaniu żądania POST
          console.log(xhr.responseText);
        }
      };
      var params = "data=" + encodeURIComponent(data);
      xhr.send(params);
    }
</script>
