@page
@model InstagramPlusProjekt.Pages.Logowanie.IndexModel
@{
}

<br>
<h2>Lista użytkowników w bazie:</h2>
<a class='btn btn-primary btn-sm' href='/Uzytkownicy/Dodaj'>Nowy Użytkownik</a>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Haslo</th>
            <th>Zdjęcie</th>
            <th>termin VIP</th>
            <th>moderator</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>