@page
@model InstPlusEntityFr.Pages.MainPage.IndexModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input type="file" id="uploadedFile" name="UploadedFile" style="display: none;" />
    <button type="button" onclick="selectFile()">Wybierz plik</button>
    <input type="submit" value="Prześlij" />
</form>

<script>
    function selectFile() {
        document.getElementById("uploadedFile").click();
    }
</script>