@page
@model InstPlusEntityFr.Pages.ProfilPrywatny.IndexModel
@{
}

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

@if (!string.IsNullOrEmpty(Model.ZdjecieProfilowe))
{
    <div style="text-align: left">
        <form>
            <img id="previewImage" src=@Url.Content(@Model.ZdjecieProfilowe) alt="Preview" />
            <br>
            <label class="display-8">@Model.LoginUzytkownika</label>
        </form>
    </div> 
}